@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap);

* {
    font-family: "Lato", sans-serif;
}

body{
    background-color: #dddddd;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 1em;
}

section {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 1em;
}

#Titu1 {
    padding-top: 1em;
    padding-left: 0.5em;
    font-size: 1em;
}

h1 {
    padding-left: 0.4em;
    font-size: 1em;
    font-style: normal;  
}

#vendedor {
    font-size: 11px;
    padding-left: 0.6em;
}

.block1 {
    display: inline-block;
    margin-right: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.block2 {
    display: inline-block;
    margin-right: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    background-color: rgb(243, 116, 116);
    border-radius: 1em;
    width: 3.3em;
    text-align: center;
}

#antiguoprecio {
    font-size: 12px;
    padding-left: 0.7em;
    margin-top: 0em;
    text-decoration: line-through; 
    text-decoration-thickness: 1.2px;
}

ol{
    list-style: none;
    font-size: 15px;
}
li::before {
    content: "\2713\0020";
    text-decoration-thickness: 1.2px;
}

h4 {
    text-align: center;
    background-color: rgb(191, 241, 116);
    border-radius: 2em;
    margin: auto;
    font-size: 12px;
    width: 12em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight:bold;
}

